/* All buttons in dialog content pane. */
.lpb-dialog.ui-dialog .ui-dialog-content.ui-widget-content .button,
/* Save / close buttons in main builder interface. */
.lpb-form__actions .button,
/* Dialog button pane buttons. */
.lpb-dialog.ui-dialog .ui-widget-content.ui-dialog-buttonpane .button {

  /* Remove hyper-specific gin theme styles. */
  border: none !important;
  border-radius: 2px !important;

  /* Fonts */
  font-size: 1em;
  font-family: var(--me-font-family-sans);
  font-weight: 700;
  letter-spacing: var(--me-letter-spacing-loose);
  text-transform: uppercase;
  line-height: 1.1;

  /* Layout */
  display: inline-block;
  height: auto;
  padding: .6em;
  position: relative;
  vertical-align: middle;
  margin: 0;

  /* Color */
  color: var(--me-color-text);
  background-color: var(--me-color-button);

  /* Transition */
  transition: var(--me-transition);

  /* States */
  &:hover {
    background-color: var(--me-color-button-hover);
    color: var(--me-color-text);
  }

  /* Cancel button */
  &.lpb-btn--cancel {
    background-color: var(--me-color-button-cancel);

    &:hover {
      background-color: var(--me-color-button-cancel-hover);
    }
  }

  /* Save buttons */
  &.lpb-btn--save,
  &.button--primary {
    background-color: var(--me-color-button-save);

    &:hover {
      background-color: var(--me-color-button-save-hover);
    }
  }

}

.lpb-dialog.ui-dialog .ui-widget-content.ui-dialog-buttonpane .button {
  margin-left: 8px;
}

/* Add Section Buttons */
.lp-builder {
  & .lpb-btn {
    line-height: 24px;
    font-weight: var(--me-font-weight-medium);
    text-transform: uppercase;
    z-index: 540;
    border-radius: 3px;
    background-color: #00659B;
    color: #fff;
  }

  & .lpb-btn.before {
    top: -18px;
  }

  & .lpb-btn.after {
    bottom: -18px;
  }
}
