.layout-paragraphs-builder-form {

  & .form-actions {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .25), 0 0 12px rgba(0, 0, 0, .25);
    display: flex;
    flex-wrap: wrap;
    font-family: var(--me-font-family-sans);
    left: var(--ginVerticalToolbarOffset, 0);
    margin: 0;
    padding: 20px;
    position: fixed;
    right: 0;
    transition: var(--ginTransition, all .2s ease-out);
    z-index: 100;
  }

  & input[type='submit'] {
    margin: 0 10px 0 0;
  }
}
