.lpb-component-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* Bleed this to the edge of the dialog */
  margin: calc(-1 * var(--me-dialog-space-inset)) !important;

  & .lpb-component-list__search {
    border-bottom: 1px solid var(--me-color-border);
    display: flex;
    padding: var(--me-space-inset-y) var(--me-dialog-space-inset);
  }

  & .lpb-component-list-search-input {
    padding: .5em 1em;
    font-size: 1em;
    height: auto;
    width: 100%;
  }

  & .lpb-component-list__group {
    &>div {
      flex-wrap: wrap;
    }

    & a {
      background-color: rgba(var(--me-option-color-background), 0);
      border: 1px solid rgba(var(--me-option-color-border), 0);
      border-radius: 3px;
      font-size: 1em;
      font-weight: var(--me-font-weight-medium, 600);
      font-family: var(--me-font-family-sans);
      margin: 0;
      padding: var(--me-space-inset-y) var(--me-dialog-space-inset);
      text-decoration: none;
      transition: all 0s linear;
      color: var(--me-option-color-text);

      &:hover,
      &:focus {
        background-color: rgba(var(--me-option-color-background-hover), .1);
        border-color: rgba(var(--me-option-color-border-hover), .25);
        transition: all .15s linear;
      }
    }
  }

  & .lpb-component-list__item {
    position: relative;
  }

  & .lpb-component-list__item .ajax-progress-throbber {
    left: auto;
    right: 0;
  }

}

.lpb-dialog .lpb-component-list {}
