<article{{ attributes.addclass('me-selection-preview') }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes.addclass('me-selection-preview__title') }}>
      <a href="{{ url }}" rel="bookmark" target="_blank">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addclass('me-selection-preview__content') }}>
    {{ content }}
  </div>

</article>
